div.portrait
  .large-map
    ya-map.ya-map-container(
      ng-if="ctrl.map"
      ya-behaviors="-DblClickZoom -Ruler -Drag -ScrollZoom"
      ya-options="{{ctrl.mapOptions}}"
      ya-controls=""
      ya-zoom="15"
      ya-center="{{ctrl.map.yaCenter}}"
      ya-after-init="ctrl.map.afterMapInit($target)"
    )
      ya-collection(ya-options="{preset:'islands#blueStretchyIcon'}" ya-after-init="ctrl.markersInit($target)")
        ya-geo-object(
          ng-repeat="point in ctrl.markers track by point.id"
          ya-source="point"
        )
      ya-geo-object(
        ya-options="{preset:'islands#brownStretchyIcon'}"
        ng-if="ctrl.startMarker"
        ya-source="ctrl.startMarker"
        ya-after-init="ctrl.startMarkerInit($target)"
      )
      ya-geo-object(
        ng-if="ctrl.track"
        ya-source="ctrl.track"
        ya-after-init="ctrl.trackInit($target)"
        ya-options="{balloonHasCloseButton:false,strokeColor:'#000000',strokeWidth:2,strokeOpacity:1}"
      )

  table.table.table-striped.table-responsive(ng-if="ctrl.data.length")
    thead
      th №
      th Точка
      th Прибыл
    tbody
      tr(ng-repeat="item in ctrl.data track by item.id")
        td {{ $index + 1 }}
        td {{ ::item.name }}
        td {{ ::item.reachedAt.timestamp | amDateFormat: 'HH:mm'}}

  #printReady(ng-if="ctrl.trackReady && ctrl.markersReady && ctrl.startMarkerReady")
