.visit-report-map
  .large-map

    ya-map.ya-map-container(
    ng-if="vm.map"
    ya-behaviors="-DblClickZoom -Ruler -Drag -ScrollZoom"
    ya-options="{{vm.mapOptions}}"
    ya-controls=""
    ya-zoom="15"
    ya-center="{{vm.map.yaCenter}}"
    ya-after-init="vm.map.afterMapInit($target)"
    )
      ya-collection(ya-options="{preset:'islands#blueStretchyIcon'}" ya-after-init="vm.markersInit($target)")
        ya-geo-object(
        ng-repeat="point in vm.markers track by point.id"
        ya-source="point"
        )
      //ya-geo-object(
      //ya-options="{preset:'islands#brownStretchyIcon'}"
      //ng-if="vm.startMarker"
      //ya-source="vm.startMarker"
      //ya-after-init="vm.startMarkerInit($target)"
      //)
      //ya-geo-object(
      //ng-if="vm.track"
      //ya-source="vm.track"
      //ya-after-init="vm.trackInit($target)"
      //ya-options="{balloonHasCloseButton:false,strokeColor:'#000000',strokeWidth:2,strokeOpacity:1}"
      //)

  #printReady(ng-if="vm.trackReady && vm.markersReady")
  #errorReady(ng-if="vm.errorReady") {{vm.errorReady}}
